{
    "vueIndentScriptAndStyle": true,
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "bracketSameLine": true,
    "bracketSpacing": true,
    "plugins": ["prettier-plugin-tailwindcss"]
}
